* {
  padding: 0px;
  margin: 0px;
}
ul {
  list-style: none;
}
.container {
  width: 980px;
  margin: 0 auto;
}
header {
  height: 80px;
  line-height: 100px;
}
.canvas-editor {
  padding: 30px 0;
}
.preview {
  float: left;
  width: 340px;
  margin-bottom: 20px;
}
.control {
  float: left;
}
.img-params,
.clip-params {
  width: 310px;
  float: left;
}
.title {
  height: 40px;
  line-height: 40px;
  font-weight: 500;
}

.control li {
  height: 38px;
  line-height: 38px;
}
.control li label {
  display: inline-block;
  width: 120px;
}
.control li input {
  width: 150px;
  height: 26px;
  line-height: 26px;
  text-indent: 4px;
}
.control .buttons {
  margin-top: 18px;
  padding-right: 28px;
}
.control .button {
  border-radius: 4px;
  border: 1px solid #9caef1;
  color: #4e71f7;
  padding: 5px 14px;
  margin: 5px 10px;
  float: right;
}
.control .button:hover {
  cursor: pointer;
}
canvas {
  border: 1px solid black;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.output-img {
  width: 930px;
  margin: 0 auto;
}
#output {
  padding-top: 20px;
}
#output img {
  box-shadow: 0px 1px 5px #ddd;
  margin-right: 8px;
}
.tips {
  font-size: 14px;
  line-height: 26px;
  color: #6f6e6e;
}
